@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:wght@200&family=Silkscreen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0fbfc;
}
h1{
    font-family: poppins;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: #fcfb00;
}
