@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:wght@200&family=Silkscreen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0fbfc;
}
h1{
    font-family: poppins;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: #52796f;
}
.shesaid{
    font-family: poppins;
    color: #354f52;
}
.shesaid #title{
    color: #000;
    font-weight: 900;
    font-style: italic;
}
.shesaid #heart{
    color:red;
    font-weight: 900;
    font-size: 1.4rem;
}
